# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.env/
.venv/

# Distribution / packaging
*.egg
*.egg-info
dist/
build/
*.bak

# Django
*.log
*.pot
*.pyc
db.sqlite3
